/* ================
   BASICS 
   ================ */
body {
  font-family: 'PT Serif', serif;
  color: #000 !important;
}
.mdl-color-text--grey-700 {
   color: #000 !important;
}
h1, h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
h1 {margin-top: 0px;}
strong {font-weight: bolder;}

div.paper-title {
  background: url('../images/capitol-drawing.jpg');
  background-color: #666;
  background-size: 100%;
  background-repeat: no-repeat;
}
.paper-title-content {
  padding: 20px;
  color: #fff;
  background-color: rgba(0,0,0,.3);
}
div.paper-title h1 {
  font-family: 'PT Serif', serif;
  text-transform: none;
  font-size:4em;
  line-height: 1;
  text-shadow: 2px 2px 4px #000;
}
div.paper-title small {
  float: right;
  font-size: 1.5em;
  text-align: right;
  /*background-color: rgba(0,0,0,.3);*/
  text-shadow: 0px 0px 2px #000;
  padding:5px;
  padding-top:20px;
}
div.paper-title .paper-subtitle {
  margin-top: 3em;
  font-size:2em;
  text-shadow: 0px 0px 2px #000;
  background-color: rgba(0,0,0,.3);
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}
pre {
  background: #fff;
  border: 1px solid #eee;
}

/* ================
   TABLES 
   ================ */
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
td, th {
   border: 1px solid #999; 
   margin: 0px 0px 0px 0px;
   padding: 3px 3px 3px 3px;
}
th {
   text-align: left;
   font-weight: bold
}
thead th {
  background: #333;
  color: #fff;
}

   

/* ================
   NAV 
   ================ */

.mdl-layout__header {
  background: #fff;
  color: rgb(66, 66, 66);
}
.mdl-layout-title {
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  font-weight: bold;
}
.mdl-layout__header .mdl-layout__drawer-button {
  color: rgb(66, 66, 66);
}

div.mdl-layout__drawer {
  font-family: 'Roboto', sans-serif;
  /*width: 270px;*/
  background-color: #fff;
  padding-top: 20px;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link,
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  font-size: 1.5em;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal;
  /*text-transform: uppercase;*/
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #ED4936;
  color:#fff;
}
.mdl-layout__drawer>.mdl-layout-title {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  line-height: 20px;
  margin-top: 10px;
}
.wp-title {
  font-size: 1.8em;
  font-weight: bold;
}
.sidebar-content {
  padding-left: 40px;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .sidebar-content {
    padding-left: 16px;
  }
}



/* ================
   PULL QUOTES
   ================ */
blockquote, .pullquote {
  float:right;
  width: 33%;
  color: #fff;
  background-color: #444;
  border: 1px solid #444;
  border-radius: 10px;
  padding:15px;
  margin:20px;
  position:relative;
}
.pullquote {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 70px;
}
.pullquote:before {
   content:"";
   position: absolute;
   top: 100%;
   left: 26px;
   width: 0;
   height: 0;
   border-left: 13px solid transparent;
   border-top: 26px solid #444;
   border-right: 13px solid transparent;
}
.pullquote .quotetext, blockquote {
  font-size: 20px;
  font-style: italic;
  font-family: 'PT Serif', serif;
}
.pullquote .quotetext:before, blockquote:before {
  content: '\201C';
  font-size: 30px;
  line-height: 20px;
  left:3px;
  color:#aaa;
}
.pullquote .quotetext:after, blockquote:after {
  content: '\201D';
  font-size: 20px;
  line-height: 20px;
  color:#aaa;
}
blockquote {
  float:none;
  width: 90%;
  padding-left:25px;
  font-size: 1.2em;
}
.pullquote .quotesource {
  text-align: right;
  color: #ccc;
}
.pullquote .quotesource:before {
  content: "- ";
}

.highlight-pullout {
  float:right;
  width: 33%;
  color: #ED4936;
  padding:0px;
  margin: 20px;
  margin-left: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .pullquote, .highlight-pullout {
    width: 90%;
    float:none;
    margin: 10px;
  }
  .pullquote {
    margin-bottom: 50px;
  }
}

/* ================
   CHEVRONs
   ================ */
.chevron-group {
  padding: 10px;
  margin-left: 20px;
}
.chevron, .chevron-a {
  position: relative;
  height: 30px;
  width: 60px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 25px;
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #ED4936;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.chevron:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  line-height: 0px;
  border: 20px solid #ED4936;
  border-left: 20px solid transparent;
  right: 100%;
  top: 0em;
}
.chevron:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0px;
  height: 0px;
  line-height: 0px;
  border: 20px solid transparent;
  border-left: 20px solid #ED4936;
  top: 0px;
  left: 100%;
}​


/* ================
   PRINTING
   ================ */
.printheader {
  display:none;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  margin-left: 2em;
  margin-bottom: 1em;
  text-align: left;
  border-bottom: 1px solid #eee;
}

@media print {

  .noprint {
    display: none !important;
  }

  .printheader {
    display:block !important;
  }

  .paper-section {
    page-break-after: always;
  }

  h2 {page-break-before:always;}

  div.mdl-layout, main {
    overflow: visible;
  }

  main.mdl-layout__content {
    margin-left: 0px !important;
    overflow-x: visible;
    overflow-y: visible;
  }

  div.page-content {
    padding-left:3em !important;
    padding-right:3em !important;
    padding-top:0em !important;
  }

  h1 {
    margin-top:0px !important;
  }

  body {
    background-color: #fff !important;
  }

}
