<header class="mdl-layout__header mdl-layout--small-screen-only">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <div class="mdl-layout-title" style="margin-left:15px;margin-right:20px;">
      <a href="/"><img src="/images/stsi_corner_logo_200x61.png" width="100" height="30"></a><br>
    </div>
    <div>
      <span class="mdl-layout-title">
        STSI Playbooks: {{page.title}}
      </span>
    </div>
    <!-- <div class="mdl-layout-spacer"></div> -->
  </div>
</header>

<div class="mdl-layout__drawer noprint">
  <div class="mdl-layout-title">
      <a href="/"><img src="/images/stsi_corner_logo_200x61.png" width="150" height="46"></a><br>
  </div>
  <div class="mdl-layout-title">
      <span class="wp-title"><a href="/">Playbooks</a></span>
  </div>
  <nav class="mdl-navigation">
  {% if page.topic %}
    {% assign sections = site.sections | where: "topic", page.topic %}
    {% for section in sections %}
      <a class="mdl-navigation__link" href="#{{section.title}}">{{section.title}}</a>
    {% endfor %}
  {% endif %}
  </nav>
  <div class="mdl-layout-spacer"></div>
  
</div>
